@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-roca: "roca", sans-serif;
}