@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-padding: 3.75rem;
  --grid-gutter: 1.25rem;
}

/* Mobile */
@media (max-width: 768px) {
  :root {
    --container-padding: 1.75rem;
  }
}

html {
  scroll-behavior: smooth;
}
